server:
  port: @server.port@
management:
  security:
    flag: false
  metrics:
    export:
      statsd:
        flavor: etsy
        enabled: false
  endpoint:
    health:
      show-details: ALWAYS
spring:
  application:
    name: @project.name@
  output:
    ansi:
      enabled: ALWAYS
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: @db.url@
    username: @db.user@
    password: @db.password@
    hikari:
      maximum-pool-size: 3
      idle-timeout: 30000
  jpa:
    show-sql: false
    properties:
#      javax:
#        persistence:
#          schema-generation:
#            create-source: metadata
#            scripts:
#              action: create
#              create-target: create.sql
      hibernate:
        default_schema: cm
        format_sql: false
        temp:
          use_jdbc_metadata_defaults: false
        jdbc:
          time_zone: UTC
          lob:
            non_contextual_creation: true
#      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQL95Dialect
info:
  version: @project.version@
  stage: dev
claim-management:
  continuation-secret: "Yp3s5v8t/B?E(H+MbQeThWB?E(H+MbQeThW"
  limit: 1000
  committers:
#    - id: hellgate
#      uri: http://hellgate:8022/v1/processing/claim_committer
#      timeout: 5000
kafka:
  bootstrap.servers: "localhost:29092"
  topics:
    claim-event-sink:
      id: "claim-event-sink"
      enabled: false
  client-id: claim-management
  consumer:
    group-id: claim-management-group-1
    enable-auto-commit: false
    auto-offset-reset: earliest
    concurrency: 3
    max-poll-records: 500
  error-handler:
    sleep-time-seconds: 5
    maxAttempts: -1
  ssl:
    enable: false
    keystore-location:
    keystore-password:
    key-password:
    server-password:
    server-keystore-location:
event.sink.retry:
  backoff.period: 1000
  max.attempts: 3
