server:
  port: @server.port@
management:
  security:
    flag: false
  metrics:
    export:
      statsd:
        flavor: etsy
        enabled: false
  endpoint:
    health:
      show-details: ALWAYS
spring:
  application:
    name: @project.name@
  output:
    ansi:
      enabled: ALWAYS
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: @db.url@
    username: @db.user@
    password: @db.password@
    hikari:
      maximum-pool-size: 3
      idle-timeout: 30000
  jpa:
    show-sql: false
    properties:
#      javax:
#        persistence:
#          schema-generation:
#            create-source: metadata
#            scripts:
#              action: create
#              create-target: create.sql
      hibernate:
        default_schema: cm
        format_sql: false
        temp:
          use_jdbc_metadata_defaults: false
        jdbc:
          time_zone: UTC
          lob:
            non_contextual_creation: true
#      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQL95Dialect
info:
  version: @project.version@
  stage: dev
claim-management:
  continuation-secret: "Yp3s5v8t/B?E(H+MbQeThWB?E(H+MbQeThW"
  limit: 1000
kafka:
  bootstrap.servers: "localhost:29092"
  topic:
    claim.event.sink: "claim-event-sink"
  ssl:
    enable: false
    keystore-location: src/main/resources/cert/kenny-k.struzhkin.p12
    keystore-password: kenny
    key-password: kenny
    server-password: kenny12
    server-keystore-location: src/main/resources/cert/truststore.p12
event.sink.retry:
  backoff.period: 1000
  max.attempts: 3
